<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Frame-Options" value="sameorigin" />
        <add name="Content-Security-Policy" value="default-src 'none'; script-src 'self' https://code.jquery.com/ http://code.jquery.com/ https://ajax.googleapis.com/ http://ajax.googleapis.com https://maxcdn.bootstrapcdn.com/ http://maxcdn.bootstrapcdn.com/; connect-src *; img-src 'self' data:; style-src 'self' 'unsafe-inline' https://maxcdn.bootstrapcdn.com/ http://maxcdn.bootstrapcdn.com/; font-src 'self' https://maxcdn.bootstrapcdn.com/ http://maxcdn.bootstrapcdn.com/" />
        <add name="Referrer-Policy" value="strict-origin" />
        <add name="Permissions-Policy" value="accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()" />
        <add name="Strict-Transport-Security" value='max-age=31536000;' />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>